{{> nav }}

<div class="containerNew">
    <div class="cardNew card-containerNew">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        {{!-- <p id="profile-name" class="profile-name-card"></p> --}}
        <h2>Meu Cadastro</h2>
        <form action='/perfil' method="post" class="form-signin">
            {{!-- <span id="reauth-email" class="reauth-email"></span> --}}
            <input type="text" name="nomeCompleto" id="nomeCompleto" class="form-control" placeholder="Nome Completo" maxlength="60" required autofocus value="{{data.nomeCompleto}}">
            <input type="text" name="email" id="email" class="form-control" placeholder="E-Mail" required value="{{data.email}}" disabled>
            <input type="text" name="cpf" id="cpf" class="form-control" onkeypress="$(this).mask('000.000.000-00');" placeholder="CPF" required value="{{data.cpf}}">
            <input type="text" name="telefone" id="telefone" class="form-control" onkeypress="$(this).mask('(00) 00000-0000')" placeholder="Telefone" required value="{{data.telefone.ddd}}{{data.telefone.numero}}">
            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required>
            {{!-- <div class="card card-container-endereco"> --}}
                <input type="text" name="cep" id="cep" class="form-control" onkeypress="$(this).mask('00.000-000')" onblur="pesquisacep(this.value);" placeholder="Cep" required value="{{data.enderecos.[0].cep}}">
                <input type="text" name="rua" id="rua" class="form-control" maxlength="50"  placeholder="Rua" required value="{{data.enderecos.[0].rua}}">
                <input type="text" name="numero" id="numero" class="form-control" maxlength="10"  placeholder="Número" required value="{{data.enderecos.[0].numero}}">
                <input type="text" name="complemento" id="complemento" class="form-control"  maxlength="40" placeholder="Complemento" value="{{data.enderecos.[0].complemento}}">
                <input type="text" name="bairro" id="bairro" class="form-control" maxlength="40"  placeholder="Bairro" required value="{{data.enderecos.[0].bairro}}">
                <input type="text" name="cidade" id="cidade" class="form-control" maxlength="40"  placeholder="Cidade" required value="{{data.enderecos.[0].cidade}}"> 
                <input type="text" name="estado" id="estado" class="form-control" maxlength="2" placeholder="UF" required value="{{data.enderecos.[0].estado}}">
            {{!-- </div> --}}

            {{#if errorMessage}}
                <div>
                    <span>{{errorMessage}}</span>
                </div>
            {{/if}}            
            <button class="btnNew btn-lg btn-primary btn-block btn-signin" type="submit">Atualizar</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->